/* GENERAL CSS */
:root {
  --primary-bg: #fddbbb;
  --secondary-bg: #fff9bf;
  --tertiary-bg: #f6f6f6;
  --text-color: #333;
  --button-bg: #333;
  --button-hover-bg: #555;
  --delete-button-bg: #ff4444;
  --delete-button-hover-bg: #ff0000;
  --edit-button-bg: #66cc66;
  --edit-button-hover-bg: #44aa44;
  --mark-all-bg: #28a745;
  --border-color: #ccc;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: radial-gradient(
    circle at left,
    var(--primary-bg),
    var(--secondary-bg)
  );
  background-size: 100% 200%;
  animation: gradientAnimation 2s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-size: 100% 200%;
  }
  50% {
    background-size: 150% 250%;
  }
  100% {
    background-size: 100% 200%;
  }
}

h1 {
  text-align: center;
  color: var(--text-color);
  background-color: var(--primary-bg);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.container {
  max-width: 400px;
  margin: 5em auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ALERT */
#alert {
  color: red;
}

/* INPUT, LABEL AND UL/LI */
.input-container {
  display: flex;
  margin-bottom: 20px;
}

input.todo-input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

input:not(:placeholder-shown) {
  background-color: var(--secondary-bg);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--tertiary-bg);
}

label:hover {
  cursor: pointer;
}

li:not(:last-child) {
  margin-bottom: 5px;
}

.done {
  opacity: 0.4;
  text-decoration: line-through;
}

/* BTNs  */
.button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button-disabled {
  pointer-events: none;
  opacity: 0.6;
  background-color: rgb(54, 54, 54) !important;
  color: white;
  cursor: not-allowed;
}

button.add-todo {
  padding: 10px 20px;
  background-color: var(--button-bg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button:hover {
  background-color: var(--button-hover-bg);
}

/* DELETE BTN */
.delete-button {
  background-color: var(--delete-button-bg);
}

.delete-button:hover {
  background-color: var(--delete-button-hover-bg);
}

/* EDIT BTN AND INPUT */
.edit-input {
  margin-right: 1em;
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  outline: none;
}

.edit-button {
  background-color: var(--edit-button-bg);
  margin-right: 5px;
}

.edit-button:hover {
  background-color: var(--edit-button-hover-bg);
}

/* CSS for the falling animation */
@keyframes fallDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}

.falling {
  animation: fallDown 0.5s ease forwards;
}

/* MARK ALL CHECKBOX */
.all-checked-container {
  align-items: center;
  margin-top: 20px;
}

.all-checked-container input {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.all-checked-container input:checked {
  background-color: var(--mark-all-bg);
  border-color: var(--mark-all-bg);
}

.all-checked-container label {
  cursor: pointer;
  user-select: none;
  color: #333;
  transition: color 0.3s ease;
  line-height: 1;
}

.all-checked-container label:hover {
  color: var(--mark-all-bg);
}

.all-checked-container input:checked + label {
  color: var(--mark-all-bg);
}

/* MEDIA QUERY */
@media screen and (max-width: 450px) {
  .container {
    max-width: 80%;
  }
}
